.animated_div {
      width: 76px;
      height: 47px;
      background: #92b901;
          background-image: initial;
          background-position-x: initial;
          background-position-y: initial;
          background-size: initial;
          background-repeat-x: initial;
          background-repeat-y: initial;
          background-attachment: initial;
          background-origin: initial;
          background-clip: initial;
          background-color: rgb(146, 185, 1);
    color: #ffffff;
    position: relative;
    font-size: 20px;
   /* padding: 10px;*/
    animation-name: animated_div;
    animation-duration: 5s;
    animation-timing-function: initial;
    animation-delay: initial;
    animation-iteration-count: 1;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
    }
    div {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
    }
    div {
      display: .block;
      border-radius: 10%;
    }
    @keyframes animated_div {
        0% {
          transform: rotate(0deg);
          left: 0px;
        }
        25% {
          transform: rotate(20deg);
          left: 0px;
          width: 112px;
          height: 70.5px;
        }
        50% {
          transform: rotate(0deg);
          left: 500px;
          width: 150px;
          height: 94px;
        }
        55% {
          transform: rotate(0deg);
          left: 500px;
          width: 188px;
          height: 117.5px;
        }
        70% {
          transform: rotate(0deg);
          left: 500px;
          width: 196px;
          height: 125px;
          background: #1ec7e6;
          background-image: initial;
          background-position-x: initial;
          background-position-y: initial;
          background-size: initial;
          background-repeat-x: initial;
          background-repeat-y: initial;
          background-attachment: initial;
          background-origin: initial;
          background-clip: initial;
          background-color: rgb(30, 199, 230);
        }
         100% {
            transform: rotate(-360deg);
            left: 0px;
          }
         
    }